<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/styles.css">
    <title>Avatar</title>
</head>
<body>
    <img src="/images/avatar.svg"  class="avatar">
    <img src="/images/avatar2.svg"  class="avatar">
    <img src="/images/icons8-star-50.png" class="avatar">
    <img src="/images/icons8-butterfly-50.png" class="avatar">
    <img src="/images/Image2.svg" class="avatar">
    
</body>
</html>