<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Cards</title>
</head>
<body>
    <!--Normal Cards-->
    <h2>Normal Cards</h2>
    <div class="normal-card">
        <div class="normal-container">
          <h4><b>Miss Bellatrix </b></h4>
          <p> Maecenas sagittis aliquet massa, sed aliquet augue elementum eu. Morbi egestas ligula erat, et pretium libero efficitur sit amet. Maecenas eu augue bibendum, egestas eros ut, consequat enim. Quisque scelerisque justo odio, sit amet suscipit tellus finibus quis. Vestibulum rhoncus malesuada ligula a rhoncus. Vestibulum et tortor ac felis dapibus dapibus. Quisque ultricies non neque sed gravida. Nam dignissim .</p>
        </div>
      </div>

    <!--Cards with Badges-->
    <div class="badge-row">
        <div class="badge-card"></div>
    </div>

    <!--Cards with Dismiss-->
    <h2>Card with Dismiss Button</h2>
    <div class="dismiss-row">
        <div class="dismiss-card">
            <div class="thumbnail">
                <img src="https://via.placeholder.com/150">
                <button class="rem">❌</button>
            </div>
            <h1>Heading 1</h1>
           <p>
            Maecenas sagittis aliquet massa, sed aliquet augue elementum eu. Morbi egestas ligula erat, et pretium libero efficitur sit amet. Maecenas eu augue bibendum, egestas eros ut, consequat enim. Quisque scelerisque justo odio, sit amet suscipit tellus finibus quis. Vestibulum rhoncus malesuada ligula a rhoncus. Vestibulum et tortor ac felis dapibus dapibus. Quisque ultricies non neque sed gravida. Nam dignissim .
        </p>
        <button>Click Here</button></div>
        </div>
    </div>

    <!--Profile Cards-->
<h2>Profile Cards</h2>
    <div class="profile-card">
        <img src="/images/image3.svg" alt="John" style="width:100%">
        <h1 style="color: #137B48;">Bellatrix</h1>
        <p style="color: #137B48;">Third-brightest star in the constellation of Orion</p>
        <p style="color: #137B48;"> Blue-White Star </p>
        <div class="favicon">
          <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <p><button class="profile-button">Contact</button></p>
      </div>

      <!--Product Cards-->
      <h2> Product Card</h2>
      <div class="product-card">
        <img src="/images/image4.svg"  style="width:100%">
        <h1>Bellatrix Phone</h1>
        <p class="price">$200.00</p>
        <p>Now get every detail about stars in your Phone</p>
        <p><button class="product-btn">Add to Cart</button></p>
      </div>


    <!--Cards with Text Overlay-->
    <div></div>


    <!--Vertical/Horizontal Cards-->
    <div></div>


    <!--Cards with Shadow-->
    <h2>Cards with Shadow</h2>
    <div class="shadow-card">
        <div class="shadow-container">
          <h4><b>Bellatrix</b></h4>
          <p>Third-brightest star in the constellation of Orion</p>
        </div>
      </div>

      <div class="shadow-card">
          <img src="/images/Image2.svg" class="shadow-img">
        <div class="shadow-container">
          <h4><b>The Bellatrix</b></h4>
          <p>Your User Friendly Component Library</p>
        </div>
      </div>
      
</body>
</html>