<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
    <link rel="stylesheet" href="/components/styles.css">
</head>
<body>
    <h2>Inline Lists</h2>
    <ul class="inline-list" >
        <li class="inline-items"><a href="#" class="inline-link link-active">Home</a> </li>
        <li class="inline-items"><a href="#" class="inline-link">Docs</a> </li>
        <li class="inline-items"><a href="#" class="inline-link">About Me</a> </li>
    </ul>

    <h2>Stacked Lists</h2>
   <div class="stack-list">
    <ul>
        <li style="list-style: none;">About Me</li>
        <li style="list-style: none;">Docs</li>
        <li style="list-style: none;" >Home</li>
    </ul>
   </div>
    
</body>
</html>