<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/styles.css">
    <title>Toast/Snackbar</title>
</head>
<body>
    <button onclick="mySnackFunction()">Show Snackbar</button>
    <div id="snackbar">Your Text Message is loaded......</div>
    







<script src="/components/app.js"></script>
</body>
</html>